@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
@import url('keyframe.css');
@import url('restaurant.css');

/* Variables */

$primary: #9356DC;
$background :#f6f6f6;
$back-tag: #99E2d0;
$font-tag: #008766;
$back-footer: #353535;

/* Mixin */
@mixin font-roboto($size, $bold, $color: black) {
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    color: $color;
    font-weight: $bold;
}

/* Generique */

body{
    background-color: #eaeaea;
    margin: 0px;
    padding: 0px;
}

h1{
    @include font-roboto(24px, 700);
    margin: 0px;
    padding: 39px 50px 0px 50px;
}

h2{
    @include font-roboto(24px, 700);
    padding: 0px 0px 26px 20px;
    margin: 0px;
}

h3{
    @include font-roboto(18px, 700);
    margin: 0px;
    padding-bottom: 5px;
}

p{
    margin: 0px;
}

/* Composants */

.btn{
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    @include font-roboto(16px, 500, white);
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    &:hover {
        cursor: pointer;
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        border-radius: 25px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms;
    }
}

.heart-bloc{
    width: 22px;
    height: 22px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    .heart-gradient{
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    .heart{
        position: absolute;
        top: 0px;
        left: 0px;
    }
    &:hover > .heart{
        opacity: 0;
        transition: opacity 300ms;
        transition-delay: 700ms;
    }
    &:hover > .heart-gradient{
        opacity: 1;
        background: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        color: transparent;
        transition: opacity 500ms;
        transform-origin: center bottom;
        animation-name: anim-heart;
        animation-duration: 1s;
    }
    
}

/* Loader */
.loader{
    position: absolute;
    background-color: #353535;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    opacity: 0;
    animation-name: anim-loader;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__title{
        font-family: Shrikhand;
        font-size: 70px;
        font-weight: 400;
        color: white;
    }
    &__anim{
        width: 80px;
        height: 80px;
        border: 15px solid #FF79DA;
        border-bottom-color: #9356DC;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

/* Header */
.top-bar{
    position: relative;
    background-color: white;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    &__img{
        display: block;
        height: 30px;
        width: 162px;
    }
}

/* Main */
.location{
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    & i{
        color: $back-footer;
    }
    &__input{
        padding: 0px;
        width: 110px;
        height: 100%;
        border: none;
        background-color: transparent;
        @include font-roboto(16px, 500, $back-footer);
        &::placeholder {
            color: $back-footer;
        }
        &:focus {
            outline:  none;
        }
    }
}

.reservation{
    background-color: $background;
    text-align: center;
    padding-bottom: 57px;
    & p{
        @include font-roboto(16px, 300, $back-footer);
        padding: 0px 30px 29px 30px;
        margin: 0px;
    }
}

.fonctionnement{
    background-color: white;
    padding: 48px 0px 60px 0px;
    .container-fonc{
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .choice{
        position: relative;
        padding-left: 12px;
        width: 95%;
        &__number{
            display: inline-block;
            margin: 0px;
            position: absolute;
            left: 0px;
            top: 24px;
            background-color: $primary;
            height: 24px;
            width: 24px;
            line-height: 26px;
            text-align: center;
            border-radius: 24px;
            @include font-roboto(14px, 500, $background);
        }
        &__bloc{
            height: 72px;
            background-color: $background;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            padding-left: 33px;
            display: flex;
            align-items: center;
            gap: 27px;
            &--purple{
                color: $primary;
            }
            &--grey {
                color: #7e7e7e;
            }
            & p{
                margin: 0px;
                @include font-roboto(16px, 500);
            }
        }
    }
}

.restaurant{
    padding: 54px 0px 66px 0px;
    width: 100%;
    .rest-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        .hide {
            display: none;
        }
        &__link{
            display: block;
            width: 90%;
            height: 251px;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
        }
        &__tag{
            border-radius: 3px;
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: $back-tag;
            @include font-roboto(14px, 500, $font-tag);
            padding: 7px 9px 7px 9px;
        }
        &__img{
            width: 100%;
            height: 174px;
            object-fit: cover;
        }
        &__text{
            display: flex;
            height: 72px;
            padding: 0px 25px 0px 13px;
            @include font-roboto(17px, 300);
            justify-content: space-between;
            align-items: center;
        }
    }
}

/* Footer */
footer{
    background-color: $back-footer;
    padding: 22px 25px 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .footer__logo{
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 400;
        color: white;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        gap: 7px;
        @include font-roboto(16px, 400, white);
        .icon-text{
            display: flex;
            align-items: center;
            gap: 11px;
            font-weight: 500;
        }
    }
}

/* Version Bureau */
@media (min-width: 1100px) {
    h1{
        padding: 30px 0px 18px 0px;
    }
    h2{
        @include font-roboto(24px, 700);
        padding: 0px 0px 28px 0px;
    }

    .top-bar{
        height: 96px;
    }

    .reservation{
        padding-bottom: 30px;
        p{
            padding: 0px 0px 18px 0px;
        }
    }

    .content{
        max-width: 1080px;
        margin: auto;
    }

    .fonctionnement{
        padding-top: 50px;
        padding-bottom: 50px;
        .container-fonc{
            flex-direction: row;
        }
    }
    .choice__bloc{
        width: 90%;
    }
    .restaurant{
        padding-top: 30px;
        padding-bottom: 30px;
        width: auto;
        .rest-container{
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 50px;
            column-gap: 100px;
            &__link{
                width: 45.37%;
            }
        }
    }
    footer{
        padding: 60px 60px 30px 25px;
        flex-direction: row-reverse;
        align-items: center;
        gap: 90px;
        .footer__container{
            flex-direction: row;
            gap: 20px;
            .icon-text{
                gap: 11px;
                &:last-of-type{
                    margin-right: 40px;
                }
            }
        }
    }
}
