@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
/* Variables */
/* Generique */
body {
  background-color: #eaeaea;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0px;
  padding: 39px 50px 0px 50px;
  font-weight: 700;
}

h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 0px 0px 26px 20px;
  margin: 0px;
  font-weight: 700;
}

h3 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0px;
  font-weight: 700;
}

p {
  margin: 0px;
}

/* Composants */
.btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* Header */
.top-bar {
  position: relative;
  background-color: white;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.top-bar__img {
  display: block;
  height: 30px;
  width: 162px;
}

.location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.location i {
  color: #353535;
}
.location__input {
  padding: 0px;
  width: 110px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #353535;
}
.location__input::-moz-placeholder {
  color: #353535;
}
.location__input::placeholder {
  color: #353535;
}
.location__input:focus {
  outline: none;
}

.reservation {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 57px;
}
.reservation p {
  color: #353535;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0px 30px 29px 30px;
  margin: 0px;
}

.fonctionnement {
  background-color: white;
  padding: 48px 0px 60px 0px;
}
.fonctionnement .container-fonc {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fonctionnement .choice {
  position: relative;
  padding-left: 12px;
  width: 95%;
}
.fonctionnement .choice__number {
  display: inline-block;
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 24px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  line-height: 26px;
  text-align: center;
  border-radius: 24px;
  color: #f6f6f6;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.fonctionnement .choice__bloc {
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-left: 33px;
  display: flex;
  align-items: center;
  gap: 27px;
}
.fonctionnement .choice__bloc--purple {
  color: #9356DC;
}
.fonctionnement .choice__bloc--grey {
  color: #7e7e7e;
}
.fonctionnement .choice__bloc p {
  margin: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.restaurant {
  padding: 54px 0px 66px 0px;
  width: 100%;
}
.restaurant .rest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.restaurant .rest-container .hide {
  display: none;
}
.restaurant .rest-container__link {
  display: block;
  width: 90%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.restaurant .rest-container__tag {
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2d0;
  color: #008766;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 7px 9px 7px 9px;
}
.restaurant .rest-container__img {
  width: 100%;
  height: 174px;
  background-size: cover;
}
.restaurant .rest-container__text {
  display: flex;
  height: 72px;
  padding: 0px 25px 0px 13px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  justify-content: space-between;
  align-items: center;
}
.restaurant .rest-container__text i {
  font-size: 22px;
}