@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* Variables */

$primary: #9356DC;
$background :#f6f6f6;
$back-tag: #99E2d0;
$font-tag: #008766;
$back-footer: #353535;

/* Generique */

body{
    background-color: #eaeaea;
    margin: 0px;
    padding: 0px;
}

h1{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 39px 50px 0px 50px;
}

h2{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 0px 0px 26px 20px;
    margin: 0px;
}

p{
    margin: 0px;
}

/* Composants */
.btn{
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.top-bar{
    position: relative;
    background-color: white;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    &__img{
        display: block;
        height: 30px;
        width: 162px;
    }
}

.location{
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    & i{
        color: $back-footer;
    }
    &__input{
        padding: 0px;
        width: 110px;
        height: 100%;
        border: none;
        background-color: transparent;;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: $back-footer;
        &::placeholder {
            color: $back-footer;
        }
        &:focus {
            outline:  none;
        }
    }
}

.reservation{
    background-color: $background;
    text-align: center;
    padding-bottom: 57px;
    & p{
        color: $back-footer;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding: 0px 30px 29px 30px;
        margin: 0px;
    }
}

.fonctionnement{
    background-color: white;
    width: 100%;
    padding: 48px 0px 60px 0px;
    .container-fonc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .choice{
        position: relative;
        padding-left: 12px;
        width: 85%;
        &__number{
            display: inline-block;
            margin: 0px;
            position: absolute;
            left: 0px;
            top: 24px;
            background-color: $primary;
            height: 24px;
            width: 24px;
            line-height: 26px;
            text-align: center;
            border-radius: 24px;
            color: $background;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        }
        &__bloc{
            height: 72px;
            background-color: $background;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            padding-left: 33px;
            display: flex;
            align-items: center;
            gap: 27px;
            &--purple{
                color: $primary;
            }
            &--grey {
                color: #7e7e7e;
            }
            & p{
                margin: 0px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
        }
    }
}

.restaurant{
    padding: 54px 0px 66px 0px;
    width: 100%;
    .rest-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        .hide {
            display: none;
        }
        &__link{
            display: block;
            width: 90%;
            height: 251px;
            background-color: #008766;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
        }
        &__tag{
            border-radius: 3px;
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: $back-tag;
            color: $font-tag;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            padding: 7px 9px 7px 9px;
        }
        &__img{
            width: 100%;
            height: 174px;
            background-size: cover;
        }
    }
}

